.prueba{
  background-color: cyan;
  color: red;
  font-size:60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.dark{
  background-color: black;
  color: white;
}

.oculto{
  display: none;
}

#error{
  color: red;
}

.error{
  color: red;
}